{{>alt}}
<div id="b2">
  <div id="lgl">
    <div class="tt">User Agreement</div>
    <div class="txt">
      <span>
        By continuing to use this site you acknowledge that you (1) have read
        and understood this site's
      </span>
      <a class="plc" href="/cookie-policy">Cookie Policy</a><span> and</span>
      <a class="plc" href="/privacy-policy">Privacy Policy</a><span>,
        (2) have read, understood, and agreed to the terms of this User
        Agreement, (3) will not hold liable this site or its owner or owners
        for any consequence incurred as a result of your use of this site or
        any other site that can be accessed from this site.
      </span>
    </div>
  </div>
</div>