{{>alt}}
<div id="b2">
  <div id="lgl">
    <div class="tt">Cookie Policy</div>
    <div id="overview" class="txt">
      <div class="bld brd-b pd10-tb">Overview</div>
    </div>
    <div class="txt">
      <span>
        This site uses cookies. Cookies are information stored on your browser
        or device for the site to work as intended. No cookies are stored by
        this site without your consent.
      </span>
    </div>
    <div class="txt">
      <span>
        This Cookie Policy lists all the cookies used by this site, the
        location where the cookies are stored, the expiration date of these
        cookies if any, and a description of the purpose of the cookies and how
        they are used. This Cookie Policy also defines the conditions that
        constitute your consent to the use of cookies on this site and informs
        you of your ability to select which cookies to allow if any and how to
        make, change, or remove your selection. Finally, this Cookie Policy
        relates this site's use of cookies to this site's
      </span>
      <a class="plc" href="/privacy-policy">Privacy Policy</a><span> and
      </span>
      <a class="plc" href="/user-agreement">User Agreement</a><span>,
      </span>
      <span>
        and provides legal notice, the date of last update, and contact
        information.
      </span>
    </div>
    <div id="content" class="txt">
      <div class="bld brd-b pd10-tb">Content</div>
      <div class="brd-b pd10-tb">
        <a href="#overview">i. Overview</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#content">ii. Content</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#cookie-category">I. Cookie Category</a>
      </div>
      <div class="brd-b pd10">
        <a href="#necessary-cookies">1. Necessary Cookies</a>
      </div>
      <div class="brd-b pd10">
        <a href="#performance-cookies">2. Performance Cookies</a>
      </div>
      <div class="brd-b pd10">
        <a href="#functional-cookies">3. Functional Cookies</a>
      </div>
      <div class="brd-b pd10">
        <a href="#targeting-cookies">4. Targeting Cookies</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#select-cookies">II. Select Cookies</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#change-cookies">III. Change Cookies</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#remove-cookies">IV. Remove Cookies</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#privacy-policy">V. Privacy Policy</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#user-agreement">VI. User Agreement</a>
      </div>
      <div class="brd-b pd10-tb">
        <a href="#notice">VII. Notice</a>
      </div>
    </div>
    <div id="cookie-category" class="txt">
      <div class="bld brd-b pd10-tb">
        I. Cookie Category
      </div>
    </div>
    <div class="txt">
      <span>
        Four categories of cookies are defined on this site as (1) Necessary,
        (2) Performance, (3) Functional, and (4) Targeting. Each category
        consists of one or more cookie or cookies stored as key-value pairs of
        information, each in the form of a sequence of alpha-numeric
        characters. Your acceptance to the use of any category of cookies
        acknowledges your acceptance to the use of all cookies in that category
        as well as all necessary cookies. If your acceptance to the use of any
        category of cookies precedes the addition of new cookies in that
        category, then your acceptance to the use of cookies in that category
        also acknowledges your acceptance to the use of the new cookies from
        the moment the addition of the new cookies have been updated on and
        made available through this document.
      </span>
    </div>
    <div id="necessary-cookies" class="txt">
      <div class="bld brd-b pd10-tb">1. Necessary Cookies</div>
    </div>
    <div class="txt">
      These cookies are necessary for the site to function properly.
    </div>
    <div class="txt">
      <div class="cke-tbl">
        <div class="cke-key bld">Key</div>
        <div class="cke-val bld">Value</div>
        <div class="cke-des bld">Details</div>
        <div class="cke-key">ckNec?</div>
        <div class="cke-val">ckNecY</div>
        <div class="cke-des">
          <div>
            <span class="ita">Description</span><span>:</span>
            <span>
              This cookie is used to check your acceptance to the use of all
              necessary cookies. By accepting the use of necessary cookies you
              acknowledge your acceptance to the use of this cookie and all
              other necessary cookies. Your acceptance to the use of any one or
              more category or categories of cookies also acknowledges your
              acceptance to the use of this cookie, and by consequence also
              acknowledges your acceptance to the use of all necessary cookies,
              even if you explicitly did not select necessary cookies when you
              selected any one or more of the other categories.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Method</span><span>:</span>
            <span>
              When you visit this site the site checks for this cookie's key at
              the appropriate storage location (see location). If the cookie
              value does not match the value for this key, indicating that you
              have not accepted the use of this cookie, the site persistently
              displays a policy notice informing you of this site's cookie
              policy. In the absence of this cookie, the site also removes
              elements of the site that would otherwise trigger the use of
              necessary cookies, ensuring that your cookie preference is
              honored. If the cookie value matches the value for this key,
              indicating that you have agreed to the use of necessary cookies,
              the aforementioned policy notice is removed and site elements
              that only trigger the storage of necessary cookies are restored.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Location</span><span>:</span>
            <span>
              This cookie is stored in your browser's local storage.
            </span>
          </div>
          <div class="pd10-tb">
            <span class="ita">Expiration</span><span>:</span>
            <span>
              This cookie has no expiration date.
            </span>
          </div>
        </div>
        <div class="cke-key">theme</div>
        <div class="cke-val">
          <div class="pd10-b">light</div>
          <div>dark</div>
        </div>
        <div class="cke-des">
          <div>
            <span class="ita">Description</span><span>:</span>
            <span>
              This cookie is used to persist your selection of this site's
              theme colors across multiple visits to this site allowing you to
              make the selection once and have your selection be in effect
              whenever you visit.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Method</span><span>:</span>
            <span>
              This cookie is used only upon clicking on this
              site's theme color selection button. This site's theme color
              selection button that triggers this event is only available once
              you have accepted the use of necessary cookies thus ensuring that
              your cookie preference is honored. If the theme color selection
              button is not clicked, this cookie is not stored, and the site
              defaults consistently to one of the available theme color
              selections. If the theme color selection button is clicked, this
              cookie is stored with either one of the two values associated
              with this cookie representing the corresponding theme color
              selection.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Location</span><span>:</span>
            <span>
              This cookie is stored in your browser's local storage.
            </span>
          </div>
          <div class="pd10-tb">
            <span class="ita">Expiration</span><span>:</span>
            <span>
              This cookie has no expiration date.
            </span>
          </div>
        </div>
      </div>
      <div class="brd-b"></div>
    </div>
    <div id="performance-cookies" class="txt">
      <div class="bld brd-b pd10-tb">2. Performance Cookies</div>
    </div>
    <div class="txt">
      These cookies are used to improve site performance.
    </div>
    <div class="txt">
      <div class="cke-tbl">
        <div class="cke-key bld">Key</div>
        <div class="cke-val bld">Value</div>
        <div class="cke-des bld">Details</div>
        <div class="cke-key">ckPer?</div>
        <div class="cke-val">ckPerY</div>
        <div class="cke-des">
          <div>
            <span class="ita">Description</span><span>:</span>
            <span>
              This cookie is used to check your acceptance to the use of all
              performance cookies. By accepting the use of performance cookies
              you acknowledge your acceptance to the use of this cookie and all
              other performance cookies as well as all necessary cookies. This
              cookie is currently the only performance cookie used by this
              site.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Method</span><span>:</span>
            <span>
              When you visit this site the site checks for this cookie's key at
              the appropriate storage location (see location). If the cookie
              value does not match the value for this key, indicating that you
              have not accepted the use of this cookie, neither this cookie nor
              any other performance cookie is stored. If the cookie value at
              the appropriate storage location does match this cookie value,
              no action is taken since there are currently no other performance
              cookies in use on this site.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Location</span><span>:</span>
            <span>
              This cookie is stored in your browser's local storage.
            </span>
          </div>
          <div class="pd10-tb">
            <span class="ita">Expiration</span><span>:</span>
            <span>
              This cookie has no expiration date.
            </span>
          </div>
        </div>
      </div>
      <div class="brd-b"></div>
    </div>
    <div id="functional-cookies" class="txt">
      <div class="bld brd-b pd10-tb">3. Functional Cookies</div>
    </div>
    <div class="txt">
      These cookies are used to provide additional functionality.
    </div>
    <div class="txt">
      <div class="cke-tbl">
        <div class="cke-key bld">Key</div>
        <div class="cke-val bld">Value</div>
        <div class="cke-des bld">Details</div>
        <div class="cke-key">ckFun?</div>
        <div class="cke-val">ckFunY</div>
        <div class="cke-des">
          <div>
            <span class="ita">Description</span><span>:</span>
            <span>
              This cookie is used to check your acceptance to the use of all
              functional cookies. By accepting the use of functional cookies
              you acknowledge your acceptance to the use of this cookie and all
              other functional cookies as well as all necessary cookies. This
              cookie is currently the only functional cookie used by this
              site.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Method</span><span>:</span>
            <span>
              When you visit this site the site checks for this cookie's key at
              the appropriate storage location (see location). If the cookie
              value does not match the value for this key, indicating that you
              have not accepted the use of this cookie, neither this cookie nor
              any other functional cookie is stored. If the cookie value at
              the appropriate storage location does match this cookie value,
              no action is taken since there are currently no other functional
              cookies in use on this site.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Location</span><span>:</span>
            <span>
              This cookie is stored in your browser's local storage.
            </span>
          </div>
          <div class="pd10-tb">
            <span class="ita">Expiration</span><span>:</span>
            <span>
              This cookie has no expiration date.
            </span>
          </div>
        </div>
      </div>
      <div class="brd-b"></div>
    </div>
    <div id="targeting-cookies" class="txt">
      <div class="bld brd-b pd10-tb">4. Targeting Cookies</div>
    </div>
    <div class="txt">
      These cookies are used to optimize advertisements.
    </div>
    <div class="txt">
      <div class="cke-tbl">
        <div class="cke-key bld">Key</div>
        <div class="cke-val bld">Value</div>
        <div class="cke-des bld">Details</div>
        <div class="cke-key">ckTar?</div>
        <div class="cke-val">ckTarY</div>
        <div class="cke-des">
          <div>
            <span class="ita">Description</span><span>:</span>
            <span>
              This cookie is used to check your acceptance to the use of all
              targeting cookies. By accepting the use of targeting cookies
              you acknowledge your acceptance to the use of this cookie and all
              other targeting cookies as well as all necessary cookies. This
              cookie is currently the only targeting cookie used by this
              site.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Method</span><span>:</span>
            <span>
              When you visit this site the site checks for this cookie's key at
              the appropriate storage location (see location). If the cookie
              value does not match the value for this key, indicating that you
              have not accepted the use of this cookie, neither this cookie nor
              any other targeting cookie is stored. If the cookie value at
              the appropriate storage location does match this cookie value,
              no action is taken since there are currently no other targeting
              cookies in use on this site.
            </span>
          </div>
          <div class="pd10-t">
            <span class="ita">Location</span><span>:</span>
            <span>
              This cookie is stored in your browser's local storage.
            </span>
          </div>
          <div class="pd10-tb">
            <span class="ita">Expiration</span><span>:</span>
            <span>
              This cookie has no expiration date.
            </span>
          </div>
        </div>
      </div>
      <div class="brd-b"></div>
    </div>
    <div id="select-cookies" class="txt">
      <div class="bld brd-b pd10-tb">
        II. Select Cookies
      </div>
    </div>
    <div class="txt">
      Cookie selection can be made either within the policy notice that appears
      when you visit the site prior to the acceptance of the use of any cookie
      or by clicking on the menu icon and navigating to "privacy". Both
      locations display a panel consisting of selection options. Click on the 
      category or categories of cookies you consent to allow on this site. 
      Click "Confirm" to save your selection or click "Accept all cookies" to 
      accepts the use of all cookies on this site.
    </div>
    <div id="change-cookies" class="txt">
      <div class="bld brd-b pd10-tb">
        III. Change Cookies
      </div>
    </div>
    <div class="txt">
      Cookies selection can be changed by clicking on the menu icon and
      navigating to "privacy". A selection panel shows the current category
      or categories of cookies that are stored. To change your cookie selection
      select the category or categories of cookies you consent to allow on this
      site and deselect the category or categories of cookies you do not
      consent to allow on this site. Click "Confirm" to save your
      selection.
    </div>
    <div id="remove-cookies" class="txt">
      <div class="bld brd-b pd10-tb">
        IV. Remove Cookies
      </div>
    </div>
    <div class="txt">
      Cookies can be removed by clicking on the menu icon and navigating to
      "privacy". A selection panel shows the current category or categories
      of cookies that are stored. Deselect a category or categories of cookies
      to remove that category or categories of cookies or Click "Clear"
      to deselect all categories of cookies. Click "Confirm" to save your
      selection.
    </div>
    <div id="privacy-policy" class="txt">
      <div class="bld brd-b pd10-tb">
        V. Privacy Policy
      </div>
    </div>
    <div class="txt">
      <span>
        This Cookie Policy is a part of and subject to this sites
      </span>
      <a class="plc" href="/privacy-policy">Privacy Policy</a><span>.
        By accepting the use of cookies on this site you acknowledge your
        agreement to this site's Privacy Policy.
      </span>
    </div>
    <div id="user-agreement" class="txt">
      <div class="bld brd-b pd10-tb">
        VI. User Agreement
      </div>
    </div>
    <div class="txt">
      <span>
        This Cookie Policy is a part of and subject to this sites
      </span>
      <a class="plc" href="/user-agreement">User Agreement</a><span>.
        By accepting the use of cookies on this site you acknowledge your
        agreement to this site's User Agreement.
      </span>
    </div>
    <div id="notice" class="txt">
      <div class="brd-tb pd10-tb">
        <span>
          Notice: This site is under continuous development and as such, this
          site's Cookie Policy, Privacy Policy, and User Agreement are subject
          to change at any time for any reason without notice. Any changes to
          this site's Cookie Policy are applicable from the moment the changes
          have been applied to and made available through this document.
        </span>
        <span>This document was last updated on</span>
        <span>{{update}}</span><span>.
          Submit inquiries by email to james.a.baroi@gmail.com.
        </span>
      </div>
    </div>
    <div class="txt">
      <div>
        <span>This page was last accessed on</span>
        <span id="timestamp"></span><span>.</span>
      </div>
    </div>
  </div>
</div>