{{>alt}}
<div id="b2">
  <div id="lgl">
    <div class="tt">Privacy Policy</div>

    <div class="txt">
      <span>
        This site does not collect, store, share, or sell any personally
        identifiable information about you. This site uses cookies according to
        the
      </span>
      <a class="plc" href="/cookie-policy">Cookie Policy</a><span>.
        This site may contain links to other sites that are not covered under
        nor subject to the policies of this site. By continuing to use this
        site you acknowledge that you have (1) read and understood this
        Privacy Policy, and (2) read, understood, and agreed to the terms of
        this site's
      </span>
      <a class="plc" href="/user-agreement">User Agreement</a><span>.</span>
    </div>
    <div class="txt">
    </div>
  </div>
</div>