<div id="about">
  <div class="content">
    <div class="tt">A b o u t</div>
    <div class="txt">
      Thank you for taking an interest in my professional journey. I created
      this portfolio site to showcase some of my sample projects and
      demonstrate my current abilities and utility as a web developer with the
      hope of productive collaboration.
      <div class="pd10 brd-b"></div>
    </div>
  </div>
  <div class="content">
    <div class="tt">O r i g i n</div>
    <div class="txt">
      My journey began with a desire to improve my knowledge of computer
      science, to aid and advance my interests in science and education, and
      developed into my love of computer programming and web development. I
      have been happily at it ever since.
      <div class="pd10 brd-b"></div>
    </div>
  </div>
  <div class="content">
    <div class="tt">E x p e r i e n c e</div>
    <ul>
      <li>+2 years self taught programming</li>
      <li>+3 years teaching in the classroom</li>
      <li>+5 years working in the laboratory</li>
      <div class="pd10 brd-b"></div>
    </ul>
  </div>
  <div class="content">
    <div class="tt">E d u c a t i o n</div>
    <ul>
      <li>M.S. Chemistry - Fresno State 2018</li>
      <li>B.S. Environmental Science - UC Riverside 2010</li>
      <div class="pd10 brd-b"></div>
    </ul>
  </div>
</div>