<div id="about">
  <div class="content">
    <div class="tt">A b o u t</div>
    <div class="txt">
      Thank you for taking an interest in my professional journey. I created
      this portfolio site to showcase some of my sample projects and
      demonstrate my current abilities and utility as a web developer with hope
      of productive collaboration.
      <div class="pd10 brd-b"></div>
    </div>
  </div>
  <div class="content">
    <div class="tt">O r i g i n</div>
    <div class="txt">
      What began as a desire to improve my knowledge of computer science, to
      aid and advance my interests in science and education, developed into my
      love of computer programming and web development. I had stumbled on to a
      new landscape of possibilities and I have been happily at it ever since.
      <div class="pd10 brd-b"></div>
    </div>
  </div>
  <div class="content">
    <div class="tt">B a c k g r o u n d</div>
    <div class="txt">
      I received a B.S. in environmental science from the University of
      Calfiornia Riverside in 2010 and went on to work as a research assistant
      and teaching associate at the department of chemistry at Fresno State
      University where I received a M.S. in chemistry in 2018 having
      contributed to investigating the relationship between particulate
      pollution and harmful health effects.
      <div class="pd10 brd-b"></div>
    </div>
  </div>
  <div class="content">
    <div class="tt">H i g h l i g h t s</div>
    <div class="txt">
      Some of the most productive and enjoyable hours of my career have been
      spent:
    </div>
  </div>
  <div class="content">
    <ul>
      <li>leading, mentoring, teaching</li>
      <li>presenting at professional conferences</li>
      <li>collaborating with people from around the world</li>
      <li>experimenting, tinkering, testing, troubleshooting</li>
      <li>90 % reading 10 % writing 1 % tea 2 % error</li>
      <div class="pd10 brd-b"></div>
    </ul>
  </div>
</div>