<div id="about">
  <div class="content">
    <div class="tt">A b o u t</div>
    <div class="txt">
      More information about me here; background, education, experience, etc...
    </div>
  </div>
</div>