<div id="content">
  <div id="me">
    <div class="cont">
      <img class="pic" src="img/profile.jpg">
    </div>
    <div class="inf">
      <div class="nm">James A. Baroi</div>
      <div class="tt">Web Developer</div>
      <a href="https://github.com/jamesbaroi"
      class="gh hv1 pnt"
      target="_blank">
      github.com/jamesbaroi
      </a>
    </div>
  </div>
  <div class="content">
    <div class="tt">W e l c o m e</div>
    <div class="txt">
      <span>Check out my latest projects below. Browse my portfolio</span>
      <a class="hv4" href="/portfolio">here</a><span>.</span>
    </div>
  </div>
  <div class="content">
    <div class="tt">A b o u t</div>
    <div class="txt">
      <span>I make machines do work. Read more about me</span>
      <a class="hv4" href="/about">here</a><span>.</span>
    </div>
  </div>
  <div class="content">
    <div class="tt">B l o g</div>
    <div class="txt">
      <span>Read my latest articles below. Browse all blog posts </span>
      <a class="hv4" href="/blog">here</a><span>.</span>
    </div>
  </div>
  <div class="content">
    <div class="tt">C o n t a c t</div>
    <div class="txt">
      <span>Get in touch at</span>
      <a class="hv4"
      href="mailto:james.a.baroi@gmail.com"
      target="_blank">james.a.baroi@gmail.com</a><span>.</span>
    </div>
  </div>
  <div class="content">
    <div class="tt">N o t i c e</div>
    <div class="txt">
      <span>Please read this site's</span>
      <a class="plc" href="/cookie-policy">Cookie Policy</a><span>,</span>
      <a class="plc" href="/privacy-policy">Privacy Policy</a><span>, and</span>
      <a class="plc" href="/user-agreement">User Agreement</a><span>.</span>
    </div>
  </div>
</div>