<div id="contact">
  <div class="content">
    <div class="tt">C o n t a c t</div>
    <div class="txt">
      <span>Get in touch at</span>
      <a class="hv5"
      href="mailto:james.a.baroi@gmail.com"
      target="_blank">james.a.baroi@gmail.com</a>
      <span>
        with inquiries, requests, or opportunities for collaboration.
      </span>
    </div>
  </div>
</div>