<div id="content">
  <div id="me">
    <div class="cont">
      <img class="pic" src="img/profile.jpg">
    </div>
    <div class="inf">
      <div class="nm">J a m e s &#160; A. &#160; B a r o i </div>
      <div class="tt">W e b &#160; D e v e l o p e r</div>
      <a href="https://github.com/jamesbaroi"
      class="gh hv5 pnt"
      target="_blank">
      g i t h u b . c o m / j a m e s b a r o i
      </a>
    </div>
  </div>
  <div class="content">
    <div class="tt">W e l c o m e</div>
    <div class="txt">
      <span>
        Browse my portfolio of sample projects below. Read more about me, my
        blog, and get in touch. Click on each project to open in a new tab and
        explore.
      </span>
    </div>
    {{>projects}}
  </div>
  <div class="content">
    <div class="tt">A b o u t</div>
    <div class="txt">
      <span>
        I make machines do work. Share in my journey from core science to web
        development.
      </span>
    </div>
  </div>
  <div class="content">
    <div class="tt">B l o g</div>
    <div class="txt">
      <span>
        Enjoy my latest articles below or browse all blog posts.
      </span>
    </div>
  </div>
  <div class="content">
    <div class="tt">C o n t a c t</div>
    <div class="txt">
      <span>Email </span>
      <a class="hv5"
      href="mailto:james.a.baroi@gmail.com"
      target="_blank">james.a.baroi@gmail.com</a>
    </div>
  </div>
  <div class="content">
    <div class="tt">N o t i c e</div>
    <div class="txt">
      <span>Please read this site's</span>
      <a class="plc" href="/cookie-policy">Cookie Policy</a><span>,
      </span>
      <a class="plc" href="/privacy-policy">Privacy Policy</a><span>, and
      </span>
      <a class="plc" href="/user-agreement">User Agreement</a><span>.
      </span>
    </div>
  </div>
</div>