<form id="frm2"
class="frm2"
name="frm2"
action="/"
onsubmit="return sbm3()"
method="POST">
  <legend>
    <div class="lg">Customize Cookie Settings</div>
    <div>
      By clicking on "Confirm" you agree to allow the cookies you selected.
      Click on "more info" to learn more.
    </div>
  </legend>
  <fieldset>
    <span id="nec-i" class="cnrB" onclick="iNec()"></span>
    <label for="ckNec" class="pnt"><span class="cnrB">Necessary</span>
      <input type="checkbox"
      class="pnt"
      id="ckNec"
      name="ckNec">
      <span class="chNec"></span>
    </label>
  </fieldset>
  <div id="nec-d">
    These cookies are necessary for this site to function properly. Disabling
    these cookies will persist the site's policy noitce, prevent theme color
    selection, and may affect other site functionality. Selecting any other
    category of cookies will automatically select necessary cookies.
  </div>
  <fieldset>
    <span id="per-i" class="cnrB" onclick="iPer()"></span>
    <label for="ckPer" class="pnt"><span class="cnrB">Performance</span>
      <input type="checkbox"
      class="pnt"
      id="ckPer"
      name="ckPer">
      <span class="chPer pnt"></span>
    </label>
  </fieldset>
  <div id="per-d">
    These cookies measure site visits and identify traffic sources to improve
    site performance.
  </div>
  <fieldset>
    <span id="fun-i" class="cnrB" onclick="iFun()"></span>
    <label for="ckFun" class="pnt"><span class="cnrB">Functional</span>
      <input type="checkbox"
      class="pnt"
      id="ckFun"
      name="ckFun">
      <span class="chFun pnt"></span>
    </label>
  </fieldset>
  <div id="fun-d">
    These cookies enable the site to provide enhanced functionality and
    personalization.
  </div>
  <fieldset>
    <span id="tar-i" class="cnrB" onclick="iTar()"></span>
    <label for="ckTar" class="pnt"><span class="cnrB">Targeting</span>
      <input type="checkbox"
      class="pnt"
      id="ckTar"
      name="ckTar">
      <span class="chTar pnt"></span>
    </label>
  </fieldset>
  <div id="tar-d">
    These cookies optimize advertisements.
  </div>
  <fieldset>
    <button class="cnl"
    type="reset">
      Clear
    </button>
    <button class="acp" type="submit">
      Confirm
    </button>
  </fieldset>
</form>

