<div id="legal">
  <div class="content">
    <div class="tt">P r i v a c y</div>
    <div class="txt">
      Customize your cookie settings here anytime. Click on each category of
      cookies to enable or disable the selected category.
    </div>
  </div>
  <div class="content">
    <div class="tt pnt" onclick="shLegal()">N o t i c e</div>
    <div class="txt">
      <span>Please read this site's</span>
      <a class="plc" href="/cookie-policy">Cookie Policy</a><span>,
      </span>
      <a class="plc" href="/privacy-policy">Privacy Policy</a><span>, and
      </span>
      <a class="plc" href="/user-agreement">User Agreement</a><span>.
      </span>
    </div>
  </div>
</div>