<div id="me">
  <div class="cont">
    <img class="pic" src="img/profile.jpg">
  </div>
  <div class="inf">
    <div class="nm">James A. Baroi</div>
    <div class="tt">Web Developer</div>
    <div class="gh hv1 pnt">github.com/jamesbaroi</div>
  </div>
</div>