<div id="me">
  <div class="cont">
    <img class="pic" src="img/profile.jpg">
  </div>
  <div class="inf">
    <div class="nm">James A. Baroi</div>
    <div class="tt">Web Developer</div>
    <a href="https://github.com/jamesbaroi" class="gh hv1 pnt" target="_blank">github.com/jamesbaroi</a>
  </div>
</div>