<div id="mnu">
  <div class="cont">
    <a id="prt-l" href="/portfolio">p o r t f o l i o</a>
    <a id="abt-l" href="/about">a b o u t</a>
    <a id="blg-l" href="/blog">b l o g</a>
    <a id="prv-l" href="/privacy">p r i v a c y</a>
    <div id="thmP">
      <div id="thm"></div>
    </div>
  </div>
</div>