<div id="mnu">
  <div class="cont">
    <div class="lnk" id="prt-l" onclick="shPortfolio()">p o r t f o l i o</div>
    <div class="lnk" id="abt-l" onclick="shAbout()">a b o u t</div>
    <div class="lnk" id="blg-l" onclick="shBlog()">b l o g</div>
    <div class="lnk" id="cnt-l" onclick="shContact()">c o n t a c t</div>
    <div class="lnk" id="prv-l" onclick="shPrivacy()">p r i v a c y</div>
    <div id="thmP">
      <div id="thm"></div>
    </div>
  </div>
</div>