<div id="mnu">
  <div class="cont">
    <a class="hv1" href="/portfolio">p o r t f o l i o</a>
    <a class="hv1" href="/about">a b o u t</a>
    <a class="hv1" href="/contact">c o n t a c t</a>
    <a class="hv1" href="/blog">b l o g</a>
    <a class="hv1" href="/join">j o i n</a>
    <a class="hv1" href="/signin">s i g n &#160; i n</a>
    <a class="hv1" href="/settings">s e t t i n g s</a>
    <div id="thmP">
      <div id="thm">s u n s h i n e</div>
    </div>
  </div>
</div>