<div id="mnu">
  <div class="cont">
    <a id="prt-l" href="/portfolio">p o r t f o l i o</a>
    <a id="abt-l" href="/about">a b o u t</a>
    <a id="blg-l" href="/blog">b l o g</a>
    <a id="jn-l" href="/join">j o i n</a>
    <a id="si-l" href="/sign-in">s i g n &#160; i n</a>
    <a id="stn-l" href="/settings">s e t t i n g s</a>
    <div id="thmP">
      <div id="thm"></div>
    </div>
  </div>
</div>