<div id="ntc">
  <div class="cont">
    <div class="h1">Policy Notice</div>
    <div class="p1">
      <span>
        This site uses cookies. By clicking on "Accept all cookies" you agree
        to allow the use of cookies on this site.
      </span>
      <span>Please read this site's</span>
      <a class="plc pnt" href="/cookie-policy">Cookie Policy</a><span>,</span>
      <a class="plc pnt" href="/privacy-policy">Privacy Policy</a><span>, and</span>
      <a class="plc pnt" href="/user-agreement">User Agreement</a>
      <span>for more information.</span>
    </div>
    <div class="frm">
      {{>frm1}}
    </div>
    <div class="btns">
      <button class="cnf" onclick="clk2()" type="submit">Cusomize settings</button>
      <button class="acp" onclick="sbm1()" type="submit">Accept all cookies</button>
    </div>
  </div>
</div>