<div id="privacy">
  <div class="content">
    <div class="tt">P r i v a c y</div>
    <div class="txt">
      Customize your cookie settings here anytime. Click on each category of
      cookies to enable or disable the selected category.
    </div>
  </div>
</div>